include MANIFEST.in
include Makefile
include common.sh
include LICENSE
include premigrate
include preupg

recursive-include data *
recursive-include doc *
recursive-include etc *
include           man/*
include           preup/*.py
include           preup/creator/*
recursive-include preup/kickstart *
include           preup/ui/licenses/*
include           preup/ui/report/fixtures/initial_data.json
recursive-include preup/ui/static *
recursive-include preup/ui/templates *
include           preup/xml/*
recursive-include tests *
include           tools/*.sh
