include MANIFEST.in
include Makefile
include common.sh
include README*
include LICENSE
include preupg premigrate
include preupg.bash

recursive-include preup *.py
recursive-include scripts *.py
recursive-include common *
recursive-include tests *
recursive-include preuputils *
recursive-include postupgrade.d *
recursive-include man *
recursive-include kickstart *
recursive-include preup_creator *
include preup-conf/preupgrade-assistant.conf

