include MANIFEST.in
include Makefile
include common.sh
include README*
include LICENSE
include preupg premigrate
include preupg.bash
include preupg-content-creator

recursive-include common *
recursive-include kickstart *
recursive-include man *
recursive-include preuputils *
recursive-include postupgrade.d *
recursive-include scripts *.sh
recursive-include tests *
recursive-include preup_creator *

include preup_ui/licenses/*
include preup_ui/report/fixtures/initial_data.json
include preup-conf/preupgrade-assistant.conf
include ui-conf/99-preup-httpd.conf.private
include ui-conf/99-preup-httpd.conf.public
recursive-include preup_ui/static *
recursive-include preup_ui/templates *
